If:
  PathMatch: .*\.(cpp|cc|cxx|hpp|h)$

CompileFlags:
  Add:
    - -xc++
    - -std=c++17
    - -Wall
    - -Wextra
    - -O2
    - -I.

Diagnostics:
  ClangTidy:
    Add:
      - bugprone-*
      - performance-*
      - readability-*
    Remove:
      - readability-magic-numbers

Completion:
  AllScopes: Yes

Index:
  Background: Build
